img {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;

}

.box {
    position: relative;
}

img::after {
    content: " ";
    display: block;
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

/* Custom styles for event boxes */
.event-box {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.event-box img {
    width: 100%;
    height: auto;
}